body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.profile-container {
    background:transparent ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    image-orientation: from-image;
} 
.profile-header {
    position: relative;
    text-align: justify;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-name {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #333;
}


#user-bio {
    margin: 0;
    padding: 10px;
    background-color:white ;
    border-radius: 10px;
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: burlywood;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightseagreen;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    border-radius: 5px;
}

/* Add a style to hide the bio editor and artwork collections by default */
.chat-popup,
#artworkCollectionsArtist,
#artworkCollectionsPhotographer {
    display: none;
}

.profile-content {
    padding: 20px;
}

.collection {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color:rgba(124, 97, 97, 0.5) ;
    color: #fff;
    text-align: center;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}